/*
 * Globals
 */

/* Links */

/*Font selection color*/
::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}



.test{
height:100vh;
z-index:-1;
}

.test1{
z-index:-1;
}delete

.mudra-color {
color: #ffffff;
}
/*home page's screen view*/



/*screen view end here*/

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  //height: 100%; /* For at least Firefox */
  //min-height: 100%;
}
.site-wrapper-inner {
  /*display: table-cell;*/
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.header-container {
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
}

.tab-content{
background-color: #ffffff; 
margin-bottom: 0px;
padding: 0px;
}
.footer-img {
	border: 1px solid #ffffff;
	background: #69676F;
	color: #222222;
	border-radius: 50%;
}


/* Padding for spacing */
.inner {
  padding: 0px;
  padding-left: 4%;
  padding-right: 5%;
  color:#000000;
}

.container-fluid {
padding-left: 0px; 
padding-right: 0px;
}

/*
 * Header
 */
.mudra-login {
overflow:hidden;
float:right;
margin-top:10px;
margin-right:10px;
}

/* Mudra Logo */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #0c85b0;
  float:
}

.navbar-toggle{
margin-top:-40px;
float:left;
padding-left: 0px;
}

.item1
{
	background: rgba(50, 50, 50, 0.5);
	text-align: center;
	height: 300px :important;
} 
	
.mudra-image {
	position: relative;
	background-color:#ffffff;
	background-attchment:fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size:auto;
	background: url('../images/Facebook_eBay.jpg');
	background-size: cover;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;

	min-height: 720px;

}
.mudra-image h1{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 100px;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
    background: red;
    background: rgba(170, 0, 0, 0); /* CSS3 */
    }
    .mudra-image h2{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 50px;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: 40%; /* 1/2 height */
    text-align: center;
    color: #FFFFFF;
    background: rgba(170, 0, 0, 0); /* CSS3 */
    }


.mudra-scroll {
position: relative;
background: #FFFFFF  fixed no-repeat;
background-size: cover;
//padding-top: 0px;
//padding-bottom: 0px;
//margin-top: -10px;
//display: inline-block;
width: 100%;
//height: 100%;
overflow: hidden;
min-height: 50px;
bottom:0;
}
.mudra-scroll a{
background: transparent url('../images/arrow2x.png') center center no-repeat;
background-size: 22px 13px;
width: 38px;
height: 38px;
display: inline-block;
text-indent: -999em;
overflow: hidden;
position: relative;
margin: 0 auto;
border: 1px solid #d3d3d3;
border-radius: 21px;
}
.mudra-yellow {
position: relative;
background: #333 fixed no-repeat;
color:#ffffff;
background-size: cover;
padding-top: 0px;
padding-bottom: 0px;
margin-top: -10px;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
min-height: 400px;
}
.mudra-grey {
position: relative;
background: #f5f5f5  fixed no-repeat;
background-size: 100%;
padding-top: 0px;
padding-bottom: 0px;
margin-top: -10px;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
min-height: 400px;
color:#666;
}

.mudra-white {
position: relative;
background: #fff  fixed no-repeat;
background-size: 100%;
padding-top: 3%;
padding-bottom: 0px;
margin-top: -5px;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
min-height: 400px;
color:#000;
}
.mudra-faq-sidebar {
display: none;
}

.mudra-faq-main{
}
.mudra-Settings-white {
border-radius: 10px;
text-align:left;
position: relative;
background: #fff  fixed no-repeat;
background-size: 100%;
padding-top: 2%;
padding-bottom: 0px;
margin-top: -5px;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
color:#000;
}


.mudra-blue {
position: relative;
background: #6682b5  fixed no-repeat;
color:#ffffff;
background-size: cover;
padding-top: 0px;
padding-bottom: 13px;
margin-top: -10px;
display: inline-block;
width: 100%;
height: 100%;
overflow: hidden;
min-height: 400px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 05px; 
  font-size: 15px;
  font-weight: normal;
  color: #000; /* IE8 proofing */
  border-bottom: 2px solid transparent;
  }
  
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #000000;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000000;
  border-bottom-color: #000000;
  background-color:#FFFFFF!important;
}
.icon-bar
{
	background-color: #000000;

}
	
@media (min-width: 855px) 
{
	.masthead-brand 
	{
		float: left;
	}
	
	.masthead-nav > li 
	{
  		float: none;
	  	display: inline-block;
	}
	.masthead-nav {
		padding-left: 7%;
	}
	.masthead-nav > li + li 
	{
		margin-left: 20px;
	}

.mudra-faq-sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #f5f5f5;
color: #333333;
border-right: 1px solid #eee;
}
.mudra-faq-sidebar a,h4 {
color: #333333;
}
.mudra-faq-how-to-video  {
width:400px;
height:400px;
}
.mudra-faq-sidebar-item h4 {
color: #333333;
}
	
}

@media (max-width: 854px) 
{
	.navbar-toggle
	{
		margin-top:-40px;
		float:left;
		padding-left: 0px;
		display: inline-block;
	}
	.masthead-nav > li 
	{
		display: flex;
		color:000000;
	}
	.masthead-nav 
	{
		padding-left: 0%;
	}
	.masthead-nav > li + li 
	{
		margin-left: 1px;
	}

	 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
       float: none!important;
   	margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
 		
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 855px) {
  /* Pull out the header and footer */

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: top;
  }
  /* Handle the widths */

  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  
}

.mudra-grey h2 {
  font-size: 35px;
  color: #666;
}

.mudra-grey a {
  font-size: 15px;
  color: #6682b5;
}

@media (max-width: 1024px) {
	.mudra-image
	{
		background: url('../images/Facebook_eBay.jpg');
		background-color:#ffffff;
		background-repeat: no-repeat;
		background-position: center;
	}	
	
	.mudra-sidebar
	{
		position:fixed;
		left:100px;
	}

        .mudra-image h2 {

  font-size: 35px;
  margin-top: 40%;
}
}

@media (max-width: 600px) {
	.mudra-image
	{
		background: url('../images/Facebook_PayPal.jpg');
		background-color:#ffffff;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.mudra-image h2 {
		font-size: 25px;
  		margin-top: 60%;
	}

}

@media (min-height: 400px) {
	.mudra-image
	{
		min-height: 360px;
	}
}

@media (min-height: 440px) {
	.mudra-image
	{
		min-height: 400px;
	}
}

@media (min-height: 480px) {
	.mudra-image
	{
		min-height: 440px;
	}
}

@media (min-height: 520px) {
	.mudra-image
	{
		min-height: 480px;
	}
}

@media (min-height: 560px) {
	.mudra-image
	{
		min-height: 520px;
	}
}

@media (min-height: 600px) {
	.mudra-image
	{
		min-height: 560px;
	}

}

@media (min-height: 640px) {
	.mudra-image
	{
		min-height: 600px;
	}

}

@media (min-height: 680px) {
	.mudra-image
	{
		min-height: 640px;
	}

}

@media (min-height: 720px) {
	.mudra-image
	{
		min-height: 680px;
	}

}

@media (min-height: 760px) {
	.mudra-image
	{
		min-height: 720px;
	}

}

@media (min-height: 800px) {
	.mudra-image
	{
		min-height: 760px;
	}

}

 .header-container{
	
  background-color: #ffffff;
  
  }
    .header-container a
    {
    	color: #FFFFFF;
    	text-decoration: none;
    }
  .footer-container{
	
    background-color: #FFFFFF;
    color: #e74c3c;
    bottom: 0;
    left: 50%;
    margin-left: -60px
    text-shadow: none;
  }
    
@media (min-width: 992px) {

	
  
  .mastfoot,
  .cover-container {
    width: 100%;
  }
 

}




.pricing-col 
{
text-align: center;
padding-bottom: 24px;
margin-bottom: 24px;
background: #ffffff;
border: 2px solid #ffffff;
border-radius: 15px;
}
.pricing-col:hover
{
box-shadow:10px 10px 5px #0D1F4E;
}
.inventory-col 
{
text-align: center;
padding-bottom: 24px;
margin-bottom: 24px;
background: #ffffff;
}
.inventory-col:hover
{
box-shadow:10px 10px 5px #0D1F4E;
}
.inventory-head 
{

background: #AAAAAA;
color: #ffffff;
}
.pricing-head 
{

background: #6682b5;
color: #ffffff;
}

.pricing-head-current 
{

background: #4C9921;
color: #ffffff;
}

.pricing-head-expired 
{

background: #69676F;
color: #ffffff;
}

.pricing-body
{

background: #ffffff;
color: #000000;
}
.pricing-body ul
{
line-height: 2;
display: inline;
list-style: none;
}
.pricing-body h4
{
color: #000000;
}


/*Settings page pot*/
.setting-pot 
{
text-align: center;
padding-bottom: 24px;
margin-bottom: 24px;
background: #ffffff;
border: 2px solid #ffffff;
border-radius: 15px;
}
.setting-pot:hover
{
box-shadow:10px 10px 5px #0D1F4E;
}

.setting-pot-head 
{
text-align: left;
background: #ffffff;
color: #6682b5;
}

.setting-pot-body
{
text-align: left;
background: #e4f0f6;
color: #000000;
}

/*Settings page pot end*/


/* This is for TAB content */

.mudraNotificationSalesSave{
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/*Settings page pot content*/
.pot-active-img {
	border: 1px solid #ffffff;
	background: #6682b5;
	color: #222222;
	border-radius: 50%;
}


.pot-active-img:hover,.pot-active-img:focus{
	border: 1px solid #000000;
}

.pot-active-img-clicked{
        border: 3px solid #00ff00;
	background: #0c85b0;
	color: #222222;
	border-radius: 100%;
}


.pot-inactive-img {
	border: 1px solid #ffffff;
	background: #69676F;
	color: #222222;
	border-radius: 50%;
}


/*Settings page pot content end*/

/*image pop up style starts*/
.pot-uploaded-img {
	border: 2px solid #69676F;
	background: #69676F;
	color: #222222;	
}

/*image pop up style ends*/
.ui-widget-content {
	border: 1px solid #ffffff;
	background: #ffffff;
	color: #222222;
	border-radius: 50%;
}
.line{
border-bottom: 2px solid #e74c3c; margin-bottom:10px; width: 120px; left: 50%;margin-left: -60px;
position: relative;
}
.line-white{
border-bottom: 2px solid #ffffff; margin-bottom:10px; width: 120px; left: 50%;margin-left: -60px;
position: relative;
}

.line-grey{
border-bottom: 2px solid #666; margin-bottom:10px; width: 120px; left: 50%;margin-left: -60px;
position: relative;
}

/* for inventory table */
#excelDataTable { border-collapse:collapse;}
        #excelDataTable th { background:#000000 url(images/header_bkg.png) repeat-x scroll center left; color:#ffffff; padding:7px 15px; text-align:center;}
        //#excelDataTable td { background:floralwhite none repeat-x scroll center left; color:#000; padding:7px 15px; }
        #excelDataTable tr.odd td { cursor:pointer; }
        #excelDataTable div.arrow { background:transparent url(../images/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
        #excelDataTable div.up { background-position:0px 0px;}
        
.mudra-inventory-table{
color:#111111;
}
.mudra-inventory-sales-details{
background-color:#ffffff;

}
mudra-inventory-sales-summary{
color:#111111;

}
.mudra-inventory-row-deleted{
background-color:#fd6269!important;
}
.mudra-inventory-row-sold{
background-color:#25CA7B!important;
}
.mudra-inventory-row-active{
background-color: #ffffff!important;
color:#111111;
}
.mudra-inventory-row-pending{
background-color:#cccccc!important;//Need to think
color:#111111;
}
.mudra-inventory-row-panel{
background-color: transparent;
border-color: #41527C;
}
.mudra-inventory-row-details{
background-color:#ffffdd; color:#111111;
}
//table ends here

/*for post page*/
.ebayON { display:none; }

/*home page's carousel arrow*/

        
.carousel-control .glyphicon-chevron-lefta, .carousel-control .glyphicon-chevron-righta, .carousel-control .icon-preva, .carousel-control .icon-nexta {
width: 30px;
height: 30px;
margin-top: -15px;
margin-left: -15px;
font-size: 30px;
}
.carousel-control .icon-preva, .carousel-control .glyphicon-chevron-lefta {
left: 50%;
}
.carousel-control .icon-nexta, .carousel-control .glyphicon-chevron-righta {
right: 50%;
}
.carousel-control .icon-preva, .carousel-controsl .icon-nexta, .carousel-control .glyphicon-chevron-lefta, .carousel-control .glyphicon-chevron-righta {
position: absolute;
top: 50%;
z-index: 5;
display: inline-block;
}

.glyphicon {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
Pseudo ::after element
:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.carousel-control:hover, .carousel-control:focus {
color: #fff;
}

/*home page's carousel ends      */


/*settings*/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    margin-top:8%;
    margin-left:0%;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {    
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active {
    right: 100%; /* 12 columns */
  }

  .row-offcanvas-left.active {
    left: 100%; /* 12 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%; /* 12 columns */
  }
}

.settingsPageMenuStyle
 {
  margin-bottom: 5px;
 }
.settingsPageMenuStyle:hover, .settingsPageMenuStyle:focus
 {
   color:black;
   font-size: 14px;
   text-decoration:bold;
   background-color: white;
   text-shadow: 0 1px 1px gray;
}

.settingsPageMenuStyle.active,
a.list-group-item.active
 {
  z-index: 2;
  color: #fff;
  background-color: #07286E;
  border-color: #07286E;
 }

a.list-group-item.active:hover, .settingsPageMenuStyle.active:hover,a.list-group-item.active:focus, .settingsPageMenuStyle.active:focus
 {
  z-index: 2;
  color: #fff;
  background-color: #07286E;
  border-color: #07286E;
 }

/*settings end*/


/*Save Button  */

.mudra-button-loading{
    background:url('../images/ajax-loader.gif');
    background-size: 30px 20px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #f0ad4e;
}

.mudra-button-success{
    background:url('../images/tick.png');
    background-size: 30px 20px;
    background-position: right;
    background-repeat: no-repeat; 
    background-color: #f0ad4e;   
}

.mudra-button-failure{
    background:url('../images/fail.png');
    background-size: 30px 20px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #f0ad4e;
}


/*
 * Copy of bootstrap.min 
 * Other framework are overriding this .btn value, hence replica here
 */
.mudra-btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

td.delete-control {
	background: url('../images/details_delete.gif') no-repeat center center;
	cursor: pointer;
}
td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}
/*over riding datables.net */
tr.odd td.sorting_1{
background-color:rgba(250, 249, 249, 0.30)!important;
}
tr.even td.sorting_1{
background-color:rgba(250, 249, 249, 0.30)!important;
}

/*Save Button ENd */