<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" /><!-- Force latest IE rendering engine or ChromeFrame if installed --><!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
	<title>jQuery File Upload Demo</title>
	<meta content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads." name="description" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" /><!-- Bootstrap styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" /><!-- Generic page styles -->
	<link href="css/style.css" rel="stylesheet" /><!-- blueimp Gallery styles -->
	<link href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" rel="stylesheet" /><!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link href="css/jquery.fileupload.css" rel="stylesheet" />
	<link href="css/jquery.fileupload-ui.css" rel="stylesheet" /><!-- CSS adjustments for browsers with JavaScript disabled --><noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript><noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header"><button class="navbar-toggle" data-target=".navbar-fixed-top .navbar-collapse" data-toggle="collapse" type="button"></button></div>
</div>
</div>

<div class="container">
<p></p>

<p>File Upload&nbsp;<br />
<!-- The file upload form used as target for the file upload widget --></p>

<form action="//sellinall.com/" enctype="multipart/form-data" id="fileupload" method="POST"><!-- Redirect browsers with JavaScript disabled to the origin page --><noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript><!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
<div class="row fileupload-buttonbar">
<div class="col-lg-7"><!-- The fileinput-button span is used to style the file input field as button --><span class="btn btn-success fileinput-button"><span>Add files...</span> <input multiple="multiple" name="files[]" type="file" /> </span><button class="btn btn-primary start" type="submit"><span>Start upload</span></button><button class="btn btn-warning cancel" type="reset"><span>Cancel upload</span></button><button class="btn btn-danger delete" type="button"><span>Delete</span></button> <input class="toggle" type="checkbox" /> <!-- The global file processing state --></div>
<!-- The global progress state -->

<div class="col-lg-5 fileupload-progress fade"><!-- The global progress bar -->
<div aria-valuemax="100" aria-valuemin="0" class="progress progress-striped active" role="progressbar">
<div class="progress-bar progress-bar-success" style="width:0%;"></div>
</div>
<!-- The extended global progress state -->

<div class="progress-extended"></div>
</div>
</div>
<!-- The table listing the files available for upload/download -->

<table class="table table-striped" role="presentation">
	<tbody class="files">
	</tbody>
</table>
</form>
&nbsp;

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"></h3>
</div>
</div>
</div>
<!-- The template to display files available for upload --><script id="template-upload" type="text/x-tmpl">
{% 
var noOfImagesAllowed = 3;
var noOfImagesSelected = o.files.length;//The number of images user has selected
alert("error"+noOfImagesAllowed+" "+noOfImagesSelected);

if(noOfImagesAllowed < noOfImagesSelected){
alert("error");
noOfImagesSelected = noOfImagesAllowed; //because only these will be allowed
}


for (var i=0, file; file=o.files[i]; i++) {if(i == noOfImagesSelected){break;} %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script><!-- The template to display files available for download --><script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included --><script src="js/vendor/jquery.ui.widget.js"></script><!-- The Templates plugin is included to render the upload/download listings --><script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script><!-- The Load Image plugin is included for the preview images and image resizing functionality --><script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script><!-- The Canvas to Blob plugin is included for image resizing functionality --><script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script><!-- Bootstrap JS is not required, but included for the responsive demo navigation --><script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- blueimp Gallery script --><script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script><!-- The Iframe Transport is required for browsers without support for XHR file uploads --><script src="js/jquery.iframe-transport.js"></script><!-- The basic File Upload plugin --><script src="js/jquery.fileupload.js"></script><!-- The File Upload processing plugin --><script src="js/jquery.fileupload-process.js"></script><!-- The File Upload image preview & resize plugin --><script src="js/jquery.fileupload-image.js"></script><!-- The File Upload audio preview plugin --><script src="js/jquery.fileupload-audio.js"></script><!-- The File Upload video preview plugin --><script src="js/jquery.fileupload-video.js"></script><!-- The File Upload validation plugin --><script src="js/jquery.fileupload-validate.js"></script><!-- The File Upload user interface plugin --><script src="js/jquery.fileupload-ui.js"></script><!-- The main application script --><script src="js/main.js"></script><!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 --><!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]--></body>
</html>