<center><img class="ui-widget-content" alt="custom-icon-composer" src ='images/e1.png' height='80' width='80' /></center>
<div id="eBay-content" class="table-responsive">
<table class="table" style='border-top: 0;background-color:#ffffff;color:#000000;width:50%;' align="center">
 <tr><td colspan="2" style='border-top: 0;'><br/></td></tr>
 <tr><td colspan="2" style="color:blue;border-top: 0;" align="left">&nbsp;&nbsp;&nbsp;&nbsp;{{categoryName}}</td></tr>
 <tr style='border-top: 0;'>
  <td style='border-top: 0;height:330px;width:310px;text-align: center; vertical-align: middle;' align="center"><img id="eBayPreviewImage" src="http://{{imgUrl1}}" style="max-height: 320px;max-width: 300px;" /></td>
  <td align="left" style='border-top: 0;'>
    <table border="0" >
     <tr><td colspan='2'><h3 style="color:#000000;">{{tittle}}</h3></td></tr><tr></tr><tr><td colspan="2"><br/></td></tr><tr><td  style='BORDER-TOP:1px solid gray;' colspan="2"></td></tr>
     <tr><td align="right">ItemCondition:</td><td align="left"><b>&nbsp;{{itemCondition}}</b></td></tr>
     <tr><td colspan="2"><br/></td></tr>
     <tr><td align="right">Time Left:</td><td align="left">&nbsp;{{itemDuration}}</td></tr>
     <tr><td colspan="2"><br/></td></tr>
     <tr><td align="right">Quantity:</td><td align="left">&nbsp;<input type="text" size="1" value="1" style="color:#000000;" />&nbsp;{{itemQuntity}}&nbsp;available</td></tr>
     <tr><td colspan="2"><br/></td></tr>
     <tr style="background-color:lightgray;"><td><br/></td><td><br/></td></tr>     
     <tr style="background-color:lightgray;color:#000000;"><td align="right"></td><td align="left">&nbsp;<b>{{currencyCode}}&nbsp;{{itemPrice}}</b>&nbsp;&nbsp;<button type="button" class="btn btn-primary"><b>Buy It Now</b></button>&nbsp;</td></tr>     
     <tr style="background-color:lightgray;"><td><br/></td><td><br/></td></tr>
     <tr><td colspan="2"><br/></td></tr>
     <tr><td align="right">Shipping:</td><td align="left">&nbsp;{{shippingService}}</td></tr>
    </table>
   </td>
 </tr>
 <tr style='border-top: 0;'>
  <td style='border-top: 0;'><div id="eBay-images" class="table-responsive"><table class="table" style='border-top: 0;'><tr><td style='border-top: 0;'><div class="row"><div id="imageDiv1" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image1" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl0}}" height="60" width="60" /></div><div id="imageDiv2" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image2" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl1}}" height="60" width="60" /></div><div id="imageDiv3" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image3"  onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl2}}" height="60" width="60" /></div><div id="imageDiv4" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image4" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl3}}" height="60" width="60" /></div><div id="imageDiv5" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image5" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl4}}" height="60" width="60" /></div><div id="imageDiv6" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image6"  onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl5}}" height="60" width="60" /></div><div id="imageDiv7" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image7" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl6}}" height="60" width="60" /></div><div id="imageDiv8" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image8" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl7}}" height="60" width="60" /></div><div id="imageDiv9" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image9" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl8}}" height="60" width="60" /></div><div id="imageDiv10" style="display:none;cursor:pointer;" class="col-xs-2"><img id="image10" onclick="javascript:$('#eBayPreviewImage').attr('src',this.src);" class="thumbnail" src="http://{{imgUrl.imgUrl9}}" height="60" width="60" /></div></div></td></tr></table></div></td>
  <td style='border-top: 0;' align="left">
     <table border="0">
       <tr><td align="center">Payments:</td><td align="left">&nbsp;<img src="images/logoPayPal_51x14.gif"></td></tr>
       <tr><td colspan="2">&nbsp;&nbsp;&nbsp;<img src="images/eBayMoneyBack.png" height="50" width="280"></td></tr>
     </table>
  </td>
 </tr>
 <tr>
  <td align="left" style='border-top: 0;' colspan="2">
  <div class="from-group">
    <label>Description</label>
  </div>
  </td>
 </tr>
 <tr>
  <td align="left" style='border-top: 0;' colspan="2">
   Seller assumes all responsibility for this listing.
  </td>
 </tr>
 <tr>
  <td colspan="2" style='border-top: 0;'>
    <div class="panel panel-default">
     <div class="panel-body" align="left">
        <label>Item specifics</label>
        <br/>
        Condition : {{itemCondition}}
     </div>
    </div>         
  </td>
 </tr>
 <tr>
  <td align="left" style='border-top: 0;' colspan="2">{{itemDesc}}</td>
 </tr>
</table>
</div>

